html,
body {
    font-size: 16px;
}


@media only screen and (min-width: 600px) {

    .nav-items {
       border-top: none;
       display: flex;
       order: 3;
    }
    .about h2 {
        font-size: 3rem;
    }
    .about p {
        font-size: 1.5rem;
        
    }

}

@media only screen and (min-width: 768px) {
    
}


@media only screen and (min-width: 992px) {
    
}


@media only screen and (min-width: 1200px) {
    
}